.image-container {
  overflow: hidden;
  position: relative;
  background: white;
  width: 100%;
  padding-top: 55%;
  border-bottom: solid 3px #333333;
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-family: 'Lemon/Milk', sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #0168a6;
}

.text {
  font-weight: 300;
  color: #222222;
}
