.vr {
  width: 2px;
  height: 100px;
  background-color: #0168a6;
}

.quote {
  background: url("assets/quote-marks.png") no-repeat center;
  background-size: contain;
  font-size: 1vw;
}

.quote-title {
  font-family: 'Lemon/Milk', sans-serif;
  font-weight: 300;
  font-size: 4vw;
  color: #0168a6;
}

.quote-author {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: 1vw;
  font-weight: 300;
  color: #0168a6;
}
