<div class="py-5 my-5">
  <div class="d-flex justify-content-center">
    <div class="vr"></div>
  </div>
  <div class="text-center">
    <h3 class="quote-title my-5">
      Être bien dans sa peau
    </h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 col-md-10 quote row justify-content-center">
      <div class="col-9 text-center">
        <p>
          “{{ activeQuote?.description }}”
        </p>
      </div>
    </div>
  </div>
  <div class="text-center quote-author py-3">
    {{ activeQuote?.name }}
  </div>
</div>
