<div class="container-fluid">
  <div class="row">
    <div class="col position-relative p-0">
      <div class="landing-card d-flex">
        <h1 class="my-auto mx-auto landing-title text-center">
          Activités<br>
          Académiques
        </h1>
      </div>
    </div>
  </div>
  <div class="activity-cards">
    <div *ngIf="isLoading" class="d-flex my-5 py-5">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
    <div class="d-none d-md-block" *ngIf="!isLoading">
      <div *ngFor="let activity of activities, let i = index" class="row justify-content-center">
        <div *ngIf="i%2 == 0" class="col-5 pb-5 d-flex">
          <div class="image-container my-auto">
            <div class="image">
              <img [src]="uploadURL+activity?.cover" [alt]="activity?.title">
            </div>
          </div>
        </div>
        <div class="col-5 pb-5 d-flex activity-card">
          <div class="my-auto w-100">
            <div class="text-center post-title py-3">
              {{ activity?.title }}
            </div>
            <div *ngIf="!activity?.isExpanded" class="post-text">
              {{ activity?.description.slice(0, Math.min(Math.floor(activity?.description?.length * 0.7), 180)) }}...<span (click)="activity.isExpanded = true" class="read-full">LIRE LA SUITE</span>
            </div>
            <div *ngIf="activity?.isExpanded" class="post-text">
              {{ activity?.description }}
            </div>
          </div>
        </div>
        <div *ngIf="i%2 == 1" class="col-5 pb-5">
          <div class="image-container">
            <div class="image">
              <img [src]="uploadURL+activity?.cover" [alt]="activity?.title">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none" *ngIf="!isLoading">
      <div *ngFor="let activity of activities, let i = index">
        <div class="row justify-content-center">
          <div class="col-11 pb-1 d-flex">
            <div class="image-container my-auto mx-auto">
              <div class="image">
                <img [src]="uploadURL+activity?.cover" [alt]="activity?.title">
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 pb-5 d-flex activity-card">
            <div class="my-auto w-100">
              <div class="text-center post-title py-3">
                {{ activity?.title }}
              </div>
              <div *ngIf="!activity?.isExpanded" class="post-text">
                <p class="text-justify">
                  {{ activity?.description.slice(0, Math.min(Math.floor(activity?.description?.length * 0.7), 180)) }}...<span (click)="activity.isExpanded = true" class="read-full">LIRE LA SUITE</span>
                </p>
              </div>
              <div *ngIf="activity?.isExpanded" class="post-text">
                <p class="text-justify">
                  {{ activity?.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
