<div class="container-fluid d-none d-lg-block">
  <div class="row header py-2">
    <div class="col-15 logo-col">
    </div>
    <div class="col-15 d-flex justify-content-center">
      <a class="my-auto" routerLink="/academic-activity">À propos</a>
    </div>
    <div class="col-15 d-flex justify-content-center">
      <a class="my-auto" (click)="goTo('#specialty', $event)" href="#">Spécialités</a>
    </div>
    <div class="col-3 title-col d-flex">
      <a class="d-block my-auto text-center pt-2" routerLink="/home">
        <img src="assets/header-title.png" alt="header title">
      </a>
    </div>
    <div class="col-15 d-flex justify-content-center">
      <a class="my-auto" routerLink="/blog">Blog</a>
    </div>
    <div class="col-15 d-flex justify-content-center">
      <a class="my-auto" (click)="goTo('#contact', $event)" href="#">Contact</a>
    </div>
  </div>
</div>
<nav class="mobile-navbar d-lg-none border-bottom">
  <div class="position-relative">
    <div class="w-100 h-100">
      <a class="d-block pt-2 image-container d-flex" routerLink="/home">
        <img class="my-auto mx-auto" src="assets/header-title.png" alt="header title">
      </a>
    </div>
    <div class="toggler-container d-flex px-2">
      <button class="navbar-toggler my-auto" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
    </div>
  </div>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse px-3 bg-white">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/academic-activity">À propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('#specialty', $event)" href="#">Spécialités</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('#contact', $event)" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
