@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.col-15 {
  @include make-col-ready();
  @include make-col(1.5);
}

.header {
  font-size: 15px;
  letter-spacing: 2px;
  border-bottom: solid 1px #eeeeee;
}

.header a {
  color: black;
}

.header a:hover {
  text-decoration: none;
  font-weight: 600;
}

.title-col img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.logo-col {
  height: 100px;
  background:url("../../../assets/logo-kallel.png") center no-repeat;
  background-size: auto 100%;
}

.image-container {
  height: 60px;
  width: 100%;
}

.image-container > img {
  height: 60%;
}

.toggler-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.ear-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
}

.ear-logo > img {
  height: 50%;
  margin: auto 10px;
}
