@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

body { margin: 0; font-family: 'Titillium Web', sans-serif; }

@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Regular'), url('assets/LemonMilk.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: bold;
  src: local('Lemon/Milk Bold'), url('assets/LemonMilkbold.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: 300;
  src: local('Lemon/Milk light Regular'), url('assets/LemonMilklight.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  src: url('assets/helvetica-webfont.woff2') format('woff2'),
  url('assets/helvetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.landing-card {
  height: 58vw;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 57.5%;
}

.landing-title {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: max(6vw, 26px);
  font-weight: 300;
  color: #0168a6;
  padding-bottom: 16vw;
}

.landing-width {
  width: max(30vw, 250px);
}

.landing-btn-container {
  height: 20vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.med-btn {
  border: solid 1px #0168a6;
  background-color: #ffffff;
  color: black;
  border-radius: 15px;
  font-size: max(1.6vw, 12px);
  padding: 6px;
  font-weight: 600;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.med-btn.disabled {
  opacity: 0.6;
}

.med-btn.disabled:hover {
  background-color: #ffffff;
  color: black;
}

.med-btn:hover {
  background-color: #08589D;
  color: white;
}

.med-btn-sm {
  border: solid 1px #0168a6;
  background-color: #ffffff;
  border-radius: 9px;
  font-size: max(1.2vw, 12px);
  padding: 3px;
  font-weight: 600;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.med-btn-sm:hover {
  background-color: #08589D;
  color: white;
}

button:focus {
  outline: none;
}

.custom-mat-dialog {
  width: 80%;
  height: auto;
  margin: auto;
}

.footer {
  background-color: black;
  color: white;
  font-size: max(0.9vw, 12px);

  .title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: max(1.3vw, 18px);
    letter-spacing: 2px;
  }

  .content {
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1px;
  }

}

.header-container {
  @include media-breakpoint-down(lg) {
    background-color: white;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 60px;
  }
}

.space-filler {
  @include media-breakpoint-down(lg) {
    height: 60px;
  }
}

.sm-icons img {
  height: 20px;
  margin-right: 8px;
}
