@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Titillium Web', sans-serif; }

@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Regular'), url('assets/LemonMilk.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: bold;
  src: local('Lemon/Milk Bold'), url('assets/LemonMilkbold.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: 300;
  src: local('Lemon/Milk light Regular'), url('assets/LemonMilklight.woff') format('woff');
}

.landing-card {
  height: 58vw;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}

.landing-title {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: max(6vw, 26px);
  font-weight: 300;
  color: #0168a6;
  padding-bottom: 16vw;
}

.landing-width {
  width: max(30vw, 250px);
}

.landing-btn-container {
  height: 20vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.med-btn {
  border: solid 1px #0168a6;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: max(1.6vw, 12px);
  padding: 6px;
  font-weight: 600;
}

button:focus {
  outline: none;
}

.custom-mat-dialog {
  width: 80%;
  height: auto;
  margin: auto;
}
