<div class="container-fluid footer pb-4 pt-5">
  <div class="row justify-content-center">
    <div class="col-11 row">
      <div class="col-md-6 pb-3">
        <h4 class="title">Adresse</h4>
        <p class="my-1">
          Maghreb Medical
        </p>
        <p class="my-1">
          Rue du roi Abdelaziz Al Saoud - Manar III - 2092 - Tunis
        </p>
      </div>
      <div class="col-md">
        <h4 class="title">Contact</h4>
        <p class="my-1">
          Tel: +216 71 880 888
        </p>
        <p class="my-1">
          Fax: +216 71 849 375
        </p>
      </div>
      <div class="col-md">
        <h4 class="title d-none d-md-block">&nbsp;</h4>
        <p class="my-1">
          Mobile: +216 24 186 000
        </p>
        <p class="my-1">
          Skype: orthopedic-tunisia
        </p>
      </div>
    </div>
  </div>
</div>
