<div class="container-fluid footer pb-4 pt-5">
  <div class="row justify-content-center">
    <div class="col-11 row">
      <div class="col-md">
        <h4 class="pb-2 title">Adresse</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-md">
        <h4 class="pb-2 title">Contact</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-md">
        <h4 class="pb-2 title">Horaires de travail</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>
